@import "./../../variables.scss";

.output {
    background-color: $white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.65rem;
    margin-top: 2rem;

    @media only screen and (min-width: $bp-md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-top: 0;
    }

    &__link {
        color: $very-dark-violet;

        @media only screen and (min-width: $bp-md) {
            margin-bottom: 0;
        }
    }

    &__result {
        @media only screen and (min-width: $bp-md) {
            display: flex;
            align-items: center;
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__shortened-link {
        color: $cyan;

        @media only screen and (min-width: $bp-md) {
            margin-bottom: 0;
        }
    }

    &__btn {
        border-radius: 0.65rem !important;
        width: 100%;

        @media only screen and (min-width: $bp-md) {
            width: auto;
            margin-left: 1rem;
        }
    }
}
