@import "../../variables.scss";

.nav {
    &__toggle {
        border: none !important;
        // outline: none;
        margin-bottom: 0.5rem;

        &:focus {
            outline: 2px solid $black !important;
            border-radius: 0.25rem;
            box-shadow: none !important;
        }
    }

    &__mobile {
        background: $dark-violet;
        border-radius: 0.75rem;
        margin-top: 1rem;
        padding: 1rem 0;
        text-align: center;

        @media only screen and (min-width: $bp-md) {
            background: none;
            border-radius: none;
            margin-top: 0;
            padding: 0;
        }
    }

    &__link {
        align-items: center;
        a {
            color: $white;
            font-weight: 700;

            @media only screen and (min-width: $bp-md) {
                color: $greyish-violet;
                font-weight: 500;
            }
        }

        a:hover,
        a:active,
        a:visited {
            color: $white !important;

            @media only screen and (min-width: $bp-md) {
                color: unset !important;
            }
        }
    }

    &__login {
        position: relative;
        padding: 0.375rem 0;
        @media only screen and (min-width: $bp-md) {
            margin-right: 1rem;
        }
    }

    &__login::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 85%;
        background: $white;
        opacity: 0.5;

        @media only screen and (min-width: $bp-md) {
            content: none;
        }
    }

    &__btn {
        background-color: $cyan;
        font-weight: 700;
        width: 85%;
        margin: 0 auto;
        border-radius: 2rem;
        padding: 0.375rem 0;
        border: 2px solid transparent !important;

        @media only screen and (min-width: $bp-md) {
            width: auto;
            padding: 0.375rem 0.75rem;
            color: $white !important;

            &:focus {
                border: 2px solid $black !important;
                border-radius: 2rem;
            }
        }
    }

    &__focus:focus {
        outline: 2px solid transparent !important;

        @media only screen and (min-width: $bp-md) {
            outline: 2px solid $black !important;
            border-radius: 0.25rem;
        }
    }
}
