// Colors

// Primary

$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);

// Secondary

$red: hsl(0, 87%, 67%);

// Neutral

$white: hsl(255, 100%, 100%);
$grey: hsl(225, 33%, 95%);
$greyish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

// Responsive breakpoints

$bp-sm: 36em; // 576px
$bp-md: 48em; // 768px
$bp-lg: 62em; // 992px
$bp-xl: 75em; // 1200px
$bp-xxl: 87.5em; // 1400x

// Bootstrap scss theme change

$theme-colors: (
    "success": $cyan,
    "danger": #ff0000,
);

$btn-border-radius: 3rem;
$btn-link-color: white;
$link-color: $greyish-violet;

@import "bootstrap/scss/bootstrap";

.btn {
    color: $white;
}

// End of bootstrap scss theme change
